* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header {
  background-color: #fff;
  padding: 20px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .logo {
  margin-right: auto;
}

header .logo a {
  text-decoration: none;
}

header .navigator {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

header .navigator a {
  text-decoration: none;
  color: #ccc;
  margin-right: 10px;
  font-weight: lighter;
}

header .navigator a:hover {
  text-decoration: underline;
}

a.subscribe {
  margin-left: 30px;
  color: gray;
  font-weight: bold;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
}

a.subscribe:hover {
  background-color: #16ce75;
  text-decoration: none;
}

.row {
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.txt {
  font-family: Arial, Helvetica, sans-serif;
}

.txt span {
  font-size: 50px;
  color: #1d273b;
}

.txt p {
  color: #79808f;
  margin: 30px 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons a {
  display: block;
  text-transform: uppercase;
}

.buttons .green-button a {
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #16ce75;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.buttons .green-button a:hover {
  background-color: gray;
}

.front img {
  width: 75%;
  vertical-align: middle;
  position: relative;
}

.bcg {
  position: absolute;
  opacity: .5;
}

.contact-us a, .subscribe a {
  text-decoration: none;
  font-weight: normal;
  color: gray;
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact-us a:hover, .subscribe a:hover {
  background-color: #16ce75;
  color: #fff;
}

.service img {
  margin-left: 58.333333%;
}

.col-md-4 .item {
  width: 83.333333%;
}

.col-md-4 .item a {
  text-decoration: none;
}

.creative-service {
  background-color: #fafafb;
}

.data {
  background-color: #2570ff;
  width: 100%;
}

.data .number span, .data .number p, .data .studio p, .data .studio span {
  color: #fff;
}

.data .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.data .row .col-12 .number {
  width: 100%;
  height: 45%;
  background-color: #3f81ff;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.data .row .col-12 .studio {
  width: 66.6666666%;
  margin-right: 25%;
}

.data .row .col-12 .studio p {
  line-height: 1.5;
}

.data .studio .buttons a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
}

.data .studio .buttons a:hover {
  background-color: #16ce75;
}

.steps-of-our-work span {
  font-size: 45px;
  color: #1d273b;
  font-family: Arial, Helvetica, sans-serif;
}

.steps-of-our-work .row:nth-of-type(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.steps-of-our-work .row .col-12 .txt-area {
  margin-left: 8.333333%;
}

.team-work-project .row .head-content span {
  font-size: 50px;
  color: #1d273b;
}

.team-work-project .row .head-button a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #16ce75;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
}

.team-work-project .row .head-button a:hover {
  background-color: gray;
}

.team-work-project .project-content .col-12 img {
  border-radius: 10px;
}

.sign-up .row .col-12 .pic img {
  width: 100%;
}

.sign-up .row .col-12 .sign-up-area {
  margin-left: 8.333333%;
  margin-right: auto;
  border-radius: 10px;
}

.sign-up .row .col-12 .sign-up-area label, .sign-up .row .col-12 span {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 0;
  padding: 0;
}

.sign-up .row .col-12 .sign-up-area label {
  margin: 20px 0;
}

.sign-up .row .col-12 .sign-up-area label input {
  font-size: 20px;
}

.sign-up .row .col-12 .sign-up-area textarea {
  font-size: 20px;
  resize: vertical;
  margin-bottom: 10px;
}

.sign-up .row .col-12 .sign-up-area .buttons .green-button a {
  padding: 5px 15px;
  font-size: 15px;
}

.subscribe-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe-area .title span {
  font-size: 50px;
  margin-top: 10px;
  padding: 10px;
}

.subscribe-area .email-container {
  margin-top: 30px;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-area .email-container input {
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subscribe-area .email-container a {
  background-color: #16ce75;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.subscribe-area .email-container a:hover {
  background-color: gray;
}

footer .row span {
  font-size: 25px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

footer .row .pic a img {
  display: block;
}

footer .row .address-info {
  display: block;
  margin-top: 20px;
}

footer .row .address-info p {
  color: #16ce75;
  font-weight: bold;
  display: inline;
}

footer .row .address-info a {
  text-decoration: none;
  color: gray;
}

footer .row .content a {
  text-decoration: none;
  display: block;
  line-height: 2;
  color: #a4a9b3;
}

footer .row .content a:hover {
  color: #16ce75;
}

footer .row .content p {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer .row .content .icon i {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 1em;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .content .icon a {
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
}

footer .row .content .icon a:hover {
  background-color: #16ce75;
}
/*# sourceMappingURL=1227Maikon.css.map */