/* 全域設定 */
.container {
    max-width: 1024px !important;
}

/* 處理bootstrap focus */

.btn:focus, /*清除btn按鈕點擊出現的邊框*/
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
button:focus {
    outline: none !important; box-shadow:none !important; 
}

.form-control:focus{ /*清除input框focus出現的邊框*/
    border-color: #fff;
    webkit-box-shadow: none;
    box-shadow: none;
}

.color-btn {
    border: 1px solid #dee2e6;
    position: relative;
}

.color-btn:hover {
    border: 1px solid #000000;
}

.color-btn i {
    font-size: 2rem;
}

.color-name {
    font-size: .5rem;
}


.spec-val {
    font-size: 1.2rem;
}

.fit {
    font-size: .5rem;
}

[selected="true"]::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #0071e3;
    border-radius: 0.25rem;
}

.accordion-header {
    position: relative;
}
/* 處理手風琴 */
button[aria-expanded] {
    opacity: 1;
    transition: .5s;
}

button[aria-expanded='true'] {
    opacity: 0;
    display: none;
}

.fas,.fab{
    color: #fff;
    margin-top: 12px;
}
